@{
    ViewData["Title"] = "Sign Up";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:Rockwell">Sign Up</h1>

    <form asp-controller="User" asp-action="SignUp" method="post">
        <input type="text" name="FirstName" placeholder="Name" required />
        <br />
        <input type="text" name="Surname" placeholder="Surname" required />
        <br />
        <input type="number" name="PhoneNumber" placeholder="Phone Number" required />
        <br />
        <input type="email" name="Email" placeholder="Email" required />
        <br />
        <input type="password" name="Password" placeholder="Password" id="pass" required />
        <br />
        <label for="Role">Role:</label>
        <br />
        <input type="radio" name="UserRole" value="Manager" required>
        <label for="Manager">Manager</label>
        <br/>
        <input type="radio" name="UserRole" value="Lecturer" required>
        <label for="Lecturer">Lecturer</label>
        <br />
        <button type="submit" id="btnCreate">Create account</button>

        @if (TempData["SignUpFailed"] != null)
        {
            <div class=" text-center">
                <strong>@TempData["SignUpFailed"]</strong>
            </div>
        }

    </form>
</div>
