<div class=" text-center table-bordered">

    <h1>Review Claims</h1>

    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Claim Date</th>
                <th>Claim Amount</th>
                <th>Hours Worked</th>
                <th>Review</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jake</td>
                <td>Blake</td>
                <td>2024/08/28</td>
                <td>5000</td>
                <td>25</td>
                <td>
                    <button type="submit">Reveiw Claim</button>
                </td>
                <td>
                    <button type="submit">Approve Claim</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>