@{
    ViewData["Title"] = "Sign Up";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:Rockwell">Submit Claim</h1>

    <form asp-controller="Claims" asp-action="SubmitClaim" method="post" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input type="text" name="ClaimTitle" placeholder="Claim Title" required />
        <br />
        <label for="hours">Hours worked</label>
        <input type="text" name="HoursWorked" placeholder="Hours Worked" required />
        <br />
        <label for="rate">Rate Per Hour</label>
        <input type="text" name="RatePerHour" placeholder="Rate Per Hour" required />
        <br />
        <label for="claimDoc">Add document</label>
        <input type="file" name="ClaimDoc" required />
        <br />
        <button type="submit" style="width:200px">Upload</button>
    </form>
</div>
