<div class="text-center">

    <h1>Submit Claim</h1>

    <table> 
        <tr>
            <td> 
                <label for="title">Title</label> 
            </td>
            <td>
                <input type="text" name="ClaimTitle" placeholder="Claim Title" required />
            </td>
        </tr>

        <tr> 
            <td>
                <label for="hours">Hours worked</label>
            </td>
            <td>
                <input type="text" name="HoursWorked" placeholder="Hours Worked" required />
            </td>
        </tr>

        <tr>
            <td>
                <label for="claimDoc">Add document</label>
            </td>
            <td>
                <input type="file" name="file" required />
            </td>
        </tr>

    
    </table>
    <button type="submit" style="width:200px">Add Customer</button>
</div>